<%- include('header'); -%>
  <h1>Author: <%= author.name %></h1>
  <p><%= author.date_of_birth_formatted %> - <%= author.date_of_death_formatted %></p>

  <div style="margin-left:20px;margin-top:20px;">
    <h2 style='font-size: 1.5rem;'> Books</h2>

    <% if (author_books.length) { %>
      <dl>
        <% author_books.forEach(book => { %>
            <dt> 
              <a href=<%= book.url %>><%= book.title %></a> 
            </dt>
            <dd> <%= book.summary %> </dd>
        <% }) %>
      </dl>

    <% } else { %>
      <p style="color: rgba(0, 0, 0, 0.65);">
        This author has no books.
      </p>
    <% } %>
  </div>

<%- include('footer'); -%>